$highPriorityColor: #ed4345;
$mediumPriorityColor: #6470ed;
$lowPriorityColor: #fac14e;

$chipColor:#fac14e;

$fieldWidth: 30%;

:host ::ng-deep .mat-form-field-appearance-outline:hover .mat-form-field-outline {
  background-color: #eee;
  color:rgb(243, 243, 243);
  border-radius: 5px;
}

:host ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
  background-color: #eee;
  color:rgb(243, 243, 243);
  border-radius: 5px;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: white !important;
}

:host ::ng-deep .mat-select-arrow {
  margin-top: 6px;
}

:host ::ng-deep mat-form-field{
  width: $fieldWidth;
  min-width: 130px;
}

:host ::ng-deep .mat-form-field-infix {
  border-top: none;
}

mat-select.priority-select ::ng-deep .mat-select-value {
  box-sizing: border-box;
  padding-left: 10px;
}

.priority-select {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: transparent;
  margin-left: 7px;
  margin-right: 9px;
}

.low {
  background-color: $lowPriorityColor;
}

.medium {
  background-color: $mediumPriorityColor;
}

.high {
  background-color: $highPriorityColor;
}

.priority-select-option {
  &::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: transparent;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.low-option::before {
  background-color: $lowPriorityColor;
}

.medium-option::before {
  background-color: $mediumPriorityColor;
}

.high-option::before {
  background-color: $highPriorityColor;
}

.status-chip {
  display: inline;
  height: 100%;
  clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);

  padding: 5px 15px 5px 5px;
  color: white;
  font-weight: lighter;
  background-color: $chipColor;

}



