<form class="form" [formGroup]="form" style="margin-left: 50px">
  <app-custom-input-field
    formControlName="subject"
    controlName="subject"
    required
    textarea
    title
  ></app-custom-input-field>
  <app-priority-select
    [items]="viewModel.priorities"
    formControlName="priority"
  ></app-priority-select>
  <!-- <app-generic-select
    formControlName="assignedTo"
    [items]="viewModel.users"
    controlName="assigned to"
    required
  ></app-generic-select> -->
  <app-status-select
    [items]="viewModel.status"
    formControlName="status"
    required
  ></app-status-select>
  <app-date-picker-field
    formControlName="dateOpened"
    icon="alarm_add"
    dateOnly
    required
  >
    <span requiredErrorMessage>Date open is required</span>
  </app-date-picker-field>
  <app-date-picker-field
    formControlName="dateDue"
    icon="alarm_on"
    [minDate]="minDate"
  ></app-date-picker-field>
  <app-date-picker-field
    formControlName="dateDue"
    icon="alarm_on"
    [minDate]="minDate"
    [maxDate]="maxDate"
  ></app-date-picker-field>
  <app-date-picker-field
    formControlName="dateClosed"
    icon="alarm_off"
  ></app-date-picker-field>
  <app-date-picker-field></app-date-picker-field>

  <app-basic-select
    required
    formControlName="assignedTo"
    controlName="Assigned to"
    [items]="viewModel.users"
  ></app-basic-select>
</form>

<pre>{{ form.value | json }}</pre>
<pre>{{ form.valid | json }}</pre>
<p *ngIf="!form.valid">Subject is invalid!</p>
