
:host ::ng-deep .mat-form-field-appearance-outline:hover .mat-form-field-outline {
  color: rgb(197, 194, 194);
}
:host ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
  color: rgb(197, 194, 194);
}

::ng-deep .mat-form-field-appearance-outline.mat-disabled .mat-form-field-outline {
  color: white;
}

:host ::ng-deep .mat-form-field-infix {
  border-top: none;
}

// :host ::ng-deep .mat-form-field-disabled .mat-form-field-underline {
//   color: black;
// }

:host .mat-input-element:disabled {
  color:black;
}

:host ::ng-deep .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
  color: transparent;
}

:host ::ng-deep .mat-form-field-appearance-outline.mat-form-field-disabled:hover .mat-form-field-outline {
  color: rgb(197, 194, 194);
  border-width: 10px;
}

// ::ng-deep .mat-form-field-placeholder{

//   color:red;
//   opacity: 1;
// }
