
<div style="margin-left: 50px">
  <mat-form-field appearance="outline" [hideRequiredMarker]="true">
    <!-- style for prioritySelect in styles.scss -->
    <mat-select
      disableRipple
      disableOptionCentering
      panelClass="prioritySelect"
      [disabled]="isDisabled"
      [(ngModel)]="viewModel.action.Priority.Value"
      name="priority"
      #priorityInput="ngModel"
      required
    >
      <mat-label></mat-label>
      <mat-select-trigger>
        <div *ngIf="viewModel.action.Priority.Value" class='priority-select' [ngClass]="{
          low: viewModel.action.Priority.Value === 1,
          medium: viewModel.action.Priority.Value === 2,
          high: viewModel.action.Priority.Value === 3
        }"></div>
        {{selectedPriority}}
      </mat-select-trigger>
      <mat-option
      *ngFor="let priority of viewModel.priorities"
      [value]="priority.Value"
      class="priority-select-option"
      [ngClass]="{
        'low-option': priority.Text === 'Low',
        'medium-option': priority.Text === 'Medium',
        'high-option': priority.Text === 'High'
      }"
    >
      {{ priority.Text }}
    </mat-option>
    </mat-select>
    <mat-error *ngIf="priorityInput.hasError('required')">
      Priority is required
    </mat-error>
  </mat-form-field>

</div>

