// ::ng-deep .mat-form-field-underline {
//   display: none;
// }

// ::ng-deep .mat-form-field-appearance-outline {
//   opacity: 0;
// }

// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
//   color: transparent;
// }

// .html {
//   font-size: 62.5%;
// }

:host ::ng-deep .mat-form-field-appearance-outline:hover .mat-form-field-outline {
  color: rgb(197, 194, 194);
}

:host ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
  color: rgb(197, 194, 194);
}



// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
//   color: white;
// }

// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
//   padding: 14px 0 14px 0;
// }

:host ::ng-deep .mat-form-field-infix {
  border-top: none;
}

.content-readonly {
  // min-height: 50px;
  cursor: pointer;
  border :2px solid transparent;
  margin-top: 3px;
  box-sizing: border-box;
  width: 15vw;

  margin-bottom: 1.5975em;

  &:hover {
    border: 2px solid rgb(197, 194, 194);
    border-radius: 5px;
  }
}

.mat-input {
  padding: 7px 10.5px 11px 8.5px;
  padding-bottom: 10.5px;

}

.mat-input {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.subject-input {
  height: auto;
  // box-sizing: border-box;
}

.input-wrapper {
  display: flex;
  align-items: baseline;
}

.input-button {
  margin-left: 5px;
}

mat-form-field {
  width: 15vw;
}
// ::ng-deep .mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-outline {
//   // opacity: 1 !important;
//   // color: rgb(112, 111, 111);
//   border: 2px solid rgb(112, 111, 111);
//   border-radius: 10px;
// }
// ::ng-deep .mat-form-field {
//   width:200px;
//   height:45px;
// }
// .text {
//   width:200px;
//   height:45px;
// }

// .hidden {
//   display:none;
// }
