<div class="control-wrapper">
  <ng-container *ngIf="!disabled; else DisabledDateFieldTemplate">
    <button
      mat-icon-button
      *ngIf="icon"
      [matTooltip]="matTooltip"
      class="button"
      [owlDateTimeTrigger]="datePicker"
    >
      <mat-icon class="button__icon">{{ icon }}</mat-icon>
    </button>
    <mat-form-field
      appearance="outline"
      [hideRequiredMarker]="true"
      [owlDateTimeTrigger]="datePicker"
    >
      <input
        [owlDateTimeTrigger]="datePicker"
        [owlDateTime]="datePicker"
        matInput
        [formControl]="dateFieldControl"
        [required]="required"
        [min]="minDate"
        [max]="maxDate"
        readonly="readonly"
      />
      <owl-date-time #datePicker [pickerType]="dateMode"></owl-date-time>
      <mat-error *ngIf="dateFieldControl.hasError('owlDateTimeMin')">
        <ng-container
          [ngTemplateOutlet]="minDateErrorMessageTemplate"
        ></ng-container>
      </mat-error>
      <mat-error *ngIf="dateFieldControl.hasError('required')">
        <ng-container
          [ngTemplateOutlet]="requiredErrorMessageTemplate"
        ></ng-container>
      </mat-error>
      <ng-template #minDateErrorMessageTemplate>
        <ng-content select="[minDateErrorMessage]"></ng-content>
      </ng-template>
      <ng-template #requiredErrorMessageTemplate>
        <ng-content select="[requiredErrorMessage]"></ng-content>
      </ng-template>
    </mat-form-field>
    <button
      *ngIf="dateFieldControl.value"
      mat-icon-button
      class="button button__small"
      matTooltip="Delete input"
      (click)="handleDeleteInput()"
    >
      <mat-icon class="button__icon button__icon--small">close</mat-icon>
    </button>
  </ng-container>
</div>

<ng-template #DisabledDateFieldTemplate>
  <button
    mat-icon-button
    *ngIf="icon"
    class="button"
    matTooltip="matTooltip"
    [disableRipple]="true"
  >
    <mat-icon class="button__icon">{{ icon }}</mat-icon>
  </button>
  <mat-form-field appearance="outline" [hideRequiredMarker]="true">
    <input matInput [formControl]="dateFieldControl" readonly />
  </mat-form-field>
</ng-template>
