@use "../../assets/custom-field-styles" as common;

$minFieldWidth: 160px;
$fieldWidth: 100%;

:host ::ng-deep mat-form-field {
  width: $fieldWidth;
  min-width: $minFieldWidth;
}

.control-wrapper {
  display: flex;
}

.date-picker-container {
  display: flex;
  align-items: center;
  margin-right: 12px;
  color: common.$borderIconGrey;
}

.date-picker-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;

  cursor: pointer;
  transform: translateY(-11px);
}

.date-picker-icon--hover {
  &::after {
    display: block;
    position: absolute;
    z-index: -1;

    width: 40px;
    height: 40px;
    border-radius: 100px;
    content: "";

    background-color: #eee;
    opacity: 0;
    transition: opacity 0.5s;
  }

  &:hover::after {
    opacity: 1;
  }
}
