@use "../../assets/custom-field-styles" as common;

$minFieldWidth: 160px;
$fieldWidth: 100%;

:host ::ng-deep mat-form-field {
  width: $fieldWidth;
  min-width: $minFieldWidth;
}

.control-wrapper {
  display: flex;
}

.icon-container {
  display: flex;
  align-items: center;
  margin-right: 12px;
  color: common.$borderIconGrey;

  &--delete {
    margin-right: 0;
    margin-left: 12px;
  }
}

.button {
  margin-right: 4px;
  line-height: unset;
  transform: translateY(5px);

  &__small {
    margin-right: 0px;
    margin-left: 4px;
    width: 30px;
    height: 30px;
    transform: translateY(10px);
  }

  &__icon {
    color: common.$borderIconGrey;
    &--small {
      transform: scale(0.65);
    }
  }
}
